.git
.gitignore
.github

.venv
venv
env
__pycache__
*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example

staticfiles
media

.vscode
.idea
*.swp
.DS_Store

.pytest_cache
.ruff_cache
.mypy_cache

DOCS
README.md
CONTRIBUTING.md

docker-compose.yml
