
# DJANGO 
SECRET_KEY = 'напишите_сюда_любой_длинный_пароль_но_лучше_сгенерить'
DEBUG = TRUE
ALLOWED_HOSTS=127.0.0.1,localhost

# DB
DB_NAME = 'писать мне'
DB_USER = 'писать мне'
DB_PASSWORD = 'писать мне'
DB_PORT = 5433
DB_HOST = 100.75.122.81
