
# DJANGO 
SECRET_KEY = 'напишите_сюда_любой_длинный_пароль_но_лучше_сгенерить'
DEBUG = TRUE
ALLOWED_HOSTS=127.0.0.1,localhost

# DB
DB_NAME = 'свой'
DB_USER = 'свой'
DB_PASSWORD = 'свой'
DB_PORT = 5434
DB_HOST = 127.0.0.1

# SMTP
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_TLS = True
SMTP_USER="спросите"
SMTP_PASS="спросите"
