
# DJANGO 
SECRET_KEY = 'напишите_сюда_любой_длинный_пароль_но_лучше_сгенерить'
DEBUG = TRUE
ALLOWED_HOSTS=127.0.0.1,localhost

# DB
DB_NAME = 'свой'
DB_USER = 'свой'
DB_PASSWORD = 'свой'
DB_PORT = 5434
DB_HOST = 127.0.0.1

# SMTP
SMTP_SERVER=100.75.122.81
SMTP_PORT=1025
SMTP_USE_TLS=False
SMTP_USER="" # оставляйте пустыым
SMTP_PASS="" # оставляйте пустым
