asgiref==3.11.1
black==26.3.1
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.1
colorama==0.4.6
cssbeautifier==1.15.4
Django==5.2.13
django-localflavor==5.0
django-phonenumber-field==8.4.0
django-unfold==0.89.0
djlint==1.36.4
docker==7.1.0
EditorConfig==0.17.1
idna==3.11
isort==8.0.1
jsbeautifier==1.15.4
json5==0.14.0
localflavor==1.9
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
phonenumberslite==9.0.27
platformdirs==4.9.6
psycopg2-binary==2.9.11
python-dotenv==1.2.2
python-stdnum==2.2
pytokens==0.4.1
PyYAML==6.0.3
regex==2026.3.32
requests==2.33.1
ruff==0.15.10
six==1.17.0
sqlparse==0.5.5
tqdm==4.67.3
urllib3==2.6.3
