{% extends "admin/base_site.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div id="content-main">
    <h2>{{ obj }}</h2>

    <form method="post">
        {% csrf_token %}
        {% if new_status %}<input type="hidden" name="new_status" value="{{ new_status }}">{% endif %}
        {{ form|crispy }}

        <div class="flex gap-2 mt-4">
            <button type="submit"
                    class="font-medium inline-flex items-center rounded-default justify-center cursor-pointer px-3 py-2 bg-primary-600 text-white hover:bg-primary-600/80">
                Confirm
            </button>
            <a href="{% url 'admin:zetom_requestmain_change' obj.pk %}"
               class="font-medium inline-flex items-center rounded-default justify-center cursor-pointer px-3 py-2 border border-base-200 text-important dark:border-base-700 dark:text-font-important-dark">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock content %}
